body {
 color: rgb(0, 2, 8);
 background:rgb(0, 2, 133);
 margin: 0px;
 font-family: "Merriweather", serif;
}

.container text-center{
    background-color: rgb(121, 152, 192);
 padding-top: 20px;

}