@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-principal: #0D3B66;
    --cor-secundaria: #00AFB9;
    --cor-destaque: #F6F1D1;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #C4D7E0
}

h1, h2, h5 {
    color: var(--cor-principal);
    font-weight: 700;}

    footer a {
    color: var(--cor-secundaria)
}

footer a:hover {
    color: var(--cor-destaque);
}